packages/*

src/Console/*

src/ISO8583/bin/*
src/ISO8583/obj/*
src/ISO8583/pkg/*
src/ISO8583/project.lock.json

tests/ISO8583.Tests/bin/*
tests/ISO8583.Tests/obj/*
tests/ISO8583.Tests/project.lock.json

.vs/ISO8583/v14/.suo
.vs/config/applicationhost.config
.vs/restore.dg